<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.productMapper">

<sql id="payNo">
select to_char(sysdate, 'yyyymmdd') || nvl2(max(pay_no), substr(max(pay_no), -6), 100000) +1
from payment
where to_char(pay_date, 'yyyymmdd') = to_char(sysdate, 'yyyymmdd')
</sql>

<insert id="payInsert" parameterType="model.PaymentDTO">
	insert into payment (PAY_NO, PURC_NO, PAY_METHOD, PAY_ACC_NUM, PAY_PRICE, PAY_DATE, PAY_CARD_BANK)
	values ((<include refid="payNo" />), #{purchNo}, #{payMethod}, #{payAccNum}, 
			#{payPrice}, sysdate, #{payCardBank})
</insert>

<insert id="reviewWrite" parameterType="model.ReviewDTO">
	insert into review (PURC_NO, PROD_NO, REVIEW_DATE, REVIEW_CONTENT, CATE_NUM )
	values (#{purchNo}, #{prodNo}, sysdate, #{reviewContent}, 
			(select CATE_NUM from product where PROD_NO = #{prodNo}))
</insert>

<select id="prodReviewSelect" parameterType="string" resultType="model.ProdReviewDTO">
	select p.memb_id membId, pl.purc_no purchNo, pl.prod_no prodNo, 
			purc_date purchDate, review_date reviewDate, review_content reviewContent
	from purchase p, purchase_list pl, review r
	where p.purc_no = pl.purc_no and pl.prod_no = r.prod_no and pl.purc_no = r.purc_no
    and r.prod_no = #{prodNo}
</select>

<select id="reviewSelect" parameterType="model.ReviewDTO" resultType="model.ReviewDTO">
	select PURC_NO purchNo, PROD_NO prodNo, REVIEW_CONTENT reviewContent
	FROM REVIEW
	where purc_no = #{purchNo} and prod_no = #{prodNo}
</select>

<select id="memCart" parameterType="string" resultType="string">
	select PROD_NO from cart
	where MEMB_ID = #{membId}
</select>

<select id="cartList" parameterType="model.CartDTO" resultMap="productCartMap">
	select prod_name, prod_price, memb_id, c.prod_no, cart_qty, cart_price
	from product p, cart c
	where p.prod_no = c.prod_no and c.memb_id = #{membId}
								and c.prod_no = #{prodNo}
</select>

<!-- resultMap : selectList를 사용할 수 없다 | selectOne 사용 -->
<resultMap type="model.ProductCartDTO" id="productCartMap">
	<association property="productDTO" javaType="model.ProductDTO">
		<result column="prod_name" jdbcType="VARCHAR" property="prodName" />
		<result column="prod_price" jdbcType="VARCHAR" property="prodPrice"/>
	</association>
	<association property="cartDTO" javaType="model.CartDTO">
		<id column="memb_id" jdbcType="VARCHAR" property="membId"/>
		<id column="prod_no" jdbcType="VARCHAR" property="prodNo"/>
		<result column="cart_qty" jdbcType="VARCHAR" property="cartQty"/>
		<result column="cart_price" jdbcType="VARCHAR" property="cartPrice"/>
	</association>
</resultMap>

<update id="reviewUpdate" parameterType="model.ReviewDTO">
	update review
	set REVIEW_CONTENT = #{reviewContent}
	where PURC_NO = #{purchNo} and PROD_NO =#{prodNo}
</update>

<select id="purchList" parameterType="string" resultType="model.PurchListDTO">
	select pr.PROD_NO prodNo, PROD_NAME prodName, PROD_IMG prodImage, pu.PURC_NO purchNo, 
			PURC_DATE purchDate, PURC_PRICE purchTotal, PAY_NO payNo, REVIEW_CONTENT reviewContent
	FROM PRODUCT pr, PURCHASE_LIST pl, PURCHASE pu, PAYMENT pa, REVIEW re
	where pr.prod_no = pl.prod_no 
		  and pl.purc_no = pu.purc_no 
		  and pu.purc_no = pa.purc_no(+)
		  and pl.purc_no = re.purc_no(+)
		  and pl.prod_no = re.prod_no(+)
		  and pu.memb_id = #{membId}
</select>

<insert id="purchInsert" parameterType="model.PurchaseDTO">
	insert into purchase (PURC_NO, PURC_DATE, PURC_PRICE, PURC_ADDR, PURC_NAME, 
						  PURC_PHONENUM, PURC_MESSAGE, MEMB_ID)
	values (#{purchNo}, sysdate, #{purchTotal}, #{purchAddr}, #{purchReceiver}, 
			#{purchPhoneNumber}, #{purchMsg}, #{membId})
</insert>

<insert id="purchListInsert" parameterType="model.CartDTO">
	insert into purchase_list (PURC_NO, PROD_NO, CATE_NUM, PRICE_QTY, PRICE_PRICE)
	select #{purchNo}, PROD_NO, CATE_NUM, CART_QTY, CART_PRICE from cart
	where memb_id = #{membId} and PROD_NO =#{prodNo}
</insert>

<delete id="cartProdDel" parameterType="model.CartDTO">
	delete from cart
	where memb_id = #{membId} and PROD_NO =#{prodNo}
</delete>

<update id="cartQtyDown" parameterType="model.CartDTO">
	update cart
	set CART_QTY = CART_QTY - 1, CART_PRICE = CART_PRICE + #{cartPrice}
	where memb_id = #{membId} and PROD_NO =#{prodNo}
</update>

<insert id="prodInsert">
	insert into product (PROD_NO, CATE_NUM, PROD_NAME, PROD_PRICE, PROD_INFO, PROD_IMG, EMP_NO)
	values (#{prodNo}, #{cateNum}, #{prodName}, #{prodPrice}, #{prodInfo}, #{prodImage}, #{empNo})
</insert>

<insert id="cartInsert" parameterType="model.CartDTO">
	merge into cart c
	using (select PROD_NO from product where PROD_NO = #{prodNo} ) p
	on (c.prod_no = p.prod_no and memb_id = #{membId} )
	WHEN MATCHED THEN
	update set CART_QTY = CART_QTY + #{cartQty},
			   CART_PRICE = CART_PRICE + #{cartPrice}
	WHEN not MATCHED THEN
	insert (MEMB_ID, PROD_NO, CATE_NUM, CART_QTY, CART_PRICE)
	values(#{membId}, #{prodNo}, #{cateNum}, #{cartQty}, #{cartPrice})
</insert>

<update id="prodUpdate" parameterType="model.ProductDTO">
	update product
	set PROD_NAME =#{prodName}, PROD_PRICE =#{prodPrice}, PROD_INFO =#{prodInfo}
	where PROD_NO =#{prodNo}
</update>

<delete id="prodDelete" parameterType="string">
	delete from product
	where PROD_NO =#{prodNo}
</delete>

<select id="autoNum" resultType="string">
	select goods_num.nextval from dual
</select>

<select id="prodInfo" parameterType="string" resultType="model.ProductDTO">
	select PROD_NO prodNo, CATE_NUM cateNum, PROD_NAME prodName, PROD_PRICE prodPrice, 
		   PROD_INFO prodInfo, PROD_IMG prodImage, EMP_NO empNo
	from product
	where PROD_NO = #{prodNo}
</select>

<select id="catList" resultType="model.CateDTO">
	select CATE_NUM cateNum, CATE_KIND cateKind, CATE_NAME cateName from category
</select>

<select id="prodList" resultType="model.ProductDTO">
	select PROD_NO prodNo, CATE_NUM cateNum, PROD_NAME prodName, PROD_PRICE prodPrice, 
		   PROD_INFO prodInfo, PROD_IMG prodImage, EMP_NO empNo
	from product
</select>

</mapper>

